/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

}

.zxfcl {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  object-fit: conver;
}

.ywysl {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 280px;
  object-fit: conver;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 6rem;
  }

  .zxfcl {
    width: 180px;
  }

  .ywysl {
    width: 180px;
  }

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}