/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: -60px;
  padding-top: 60px;
  height: 100vh;
}

.colorBg {
  position: absolute;
  inset: 0;
}

.container {
  z-index: 9;
}

/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 6rem;
  }
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}